[Unit]
Description=Run Jarvis knowledge sync daily

[Timer]
OnCalendar=hourly
Persistent=true
Unit=jarvis_sync.service

[Install]
WantedBy=timers.target
